**/.DS_Store

evaluation/csv_queries

**/.vscode
**/__pycache__/

tesi/
.claude/
shared.txt
out/
my_cpp/out/
build/
cplusplus/

my_cpp/build/
apache-jmeter-5.6.3/
spice_cache/
SPICE-1.0/
spice

loop.py
CMakePresets.json

ninja

test_data_agent.ipynb
output
results

jmeter.log

codecarbon
.cache